.sidebar {
  width: 240px;
  background-color: white;
  height: 100vh;
  h2 {
    color: $blue;
  }

  .svg-padding {
    padding: 20px;
  }

  .active {
    color: $blue !important;
    border-right: 2px solid $blue;
    // or https://stackoverflow.com/questions/4131490/any-way-to-limit-border-length
  }

    .icon {
      display: flex;
      color: #8B94A3;
      i, p {
        padding: 20px;
      }

      i {
        min-width: 72px;
      }

      p {
        font-size: 20px;
        margin-bottom: 0px;
      }

      h2 {
        padding-top: 28px;
        font-size: 24px;
      }

      p, h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
      }
    }
  .icons {
    margin-top: 35%;
    display: flex;
    flex-direction: column;

  }
}

.welcome {
  width: 720px;
  height: 200px;
  background-color: $green;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  // position: relative;

  .welcome_temp_svg{
    // position:absolute;
    // top: 5px;
    // right: 5px;
  }
}

.dashboard {
  display: flex;
}

.main-page {
  padding: 50px;
  .dashboard-title {
    display: flex;
    justify-content: space-between;
    h2 {
      color: black;
    }
    #date {
      color: $gray;
      font-weight: lighter;
    }
  }

  p {
    padding: 20px;
  }

  pre {
    width: 720px;
    border-radius: 20px;
    margin-top: 40px;
    white-space: pre-wrap;
  }


}

  .right-bar {
    width: 400px;
    height: 100vh;
    background-color: white;
    position: absolute;
    right: 0px;

    .icon {
      display: flex;
      justify-content: flex-end;
      border-bottom: 2px solid $gray;
      margin-top: 22px;
      h2, i {
        color: $gray;
        padding-top: 24px;
      }
      i {
        padding: 20px;
      }
      h2 {
        font-family: Montserrat;
        font-style: normal;
        font-size: 24px;
      }
    }

    .temp-svg {
      display: flex;
      justify-content: center;
      margin-top: 200px;
    }
  }
