<!-- Version 1 -->
<script>
  (function(d,s){var u=window.location.href,e=d.getElementsByTagName(s)[0],g=d.createElement(s);g.async=true;g.src='http://localhost:3000/api/v1/trackers/Pledge?url='+u;e.parentNode.insertBefore(g,e);
  })(document, 'script')
</script>

<!-- Version 2 -->
<script>
  var u=window.location.href,h = new XMLHttpRequest();
  h.open("GET", 'http://localhost:3000/api/v1/trackers/Pledge?url='+u);h.send();
</script>

<!-- No script -->
<img src="http://localhost:3000/api/v1/trackers/Pledge?noscript=1" height="1" width="1">
